<mtapp:setting
    id="head_close"
    hint="<__trans phrase="config__field-headclose--hint--blog">"
    label="<__trans phrase="config__field-headclose--label">"
    label_for="<__trans phrase="config__field-headclose--label">"
    show_hint="1"
  >
  <textarea rows="10" class="form-control text high" name="head_close" id="head_close"><mt:var name="head_close" encode_html="1"></textarea>
</mtapp:setting>

<mtapp:setting
    id="body_close"
    hint="<__trans phrase="config__field-bodyclose--blog">"
    label="<__trans phrase="config__field-bodyclose--label">"
    label_for="<__trans phrase="config__field-bodyclose--label">"
    show_hint="1"
  >
  <textarea rows="10" class="form-control text high" name="body_close" id="body_close"><mt:var name="body_close" encode_html="1"></textarea>
</mtapp:setting>